:root {
  --bg-color: #1a202c;
  --bg-overlay: #2d3748;
  --bg-gradient: linear-gradient(45deg, #008080 30%, #008040 90%);
  --bg-gradient-red: linear-gradient(45deg, #ff1a1a 30%, #ff4242 90%);
  --accent-color: #27c399;
  --accent-light: rgba(48, 140, 122, 0.3);
  --text-color: #edf2f7;
  --text-sec: #a0aec0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiDataGrid-root {
  border-color: #2d3748;
}

.MuiDataGrid-root .MuiDataGrid-withBorderColor {
  border-color: #2d3748;
}

::selection {
  background-color: var(--accent-color);
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-image: var(--bg-gradient);
  border-radius: 20px;
}

input:-webkit-autofill {
  -webkit-box-shadow: none;
}

input[type="checkbox"] {
  appearance: none;
  border: 1px solid var(--text-sec);
  border-radius: 2px;
}

input[type="checkbox"]:checked {
  position: relative;
  background-color: var(--accent-color);
  border: none;
}

input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  width: 1.2ex;
  height: 0.4ex;
  background: rgba(0, 0, 0, 0);
  top: 0.7ex;
  left: 0.5ex;
  border: 3px solid var(--bg-color);
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 25px;
}

.formInput {
  width: 45%;
  /* margin-bottom: 25px !important; */
}

input {
  color-scheme: dark;
}

.statusCard::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: -50%;
  background-color: var(--accent-color);
  padding-top: 100%;
  border-radius: 100%;
  transform: scale(0);
  transition: transform 0.8s ease 0s;
  z-index: -1;
}

.statusCard:hover::before {
  transform: scale(3);
}

.statusCard:hover {
  color: white !important;
}

@media (max-width: 768px) {
  .form {
    flex-direction: column;
  }

  .formInput {
    width: 100%;
  }
}
